body {
    background-color: #0a0f1e;
    color: #f8fafc;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    touch-action: none; /* Empêche le zoom/scroll accidentel sur mobile */
}

/* Ce conteneur simule la taille d'un écran de PC fixe */
#app-scaler {
    width: 1280px; 
    height: 720px;
    display: flex;
    flex-direction: column;
    transform-origin: center center; /* Centre l'animation lors du scale */
    flex-shrink: 0;
}

#main-header {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: rgba(30, 41, 59, 0.5);
    border-bottom: 1px solid #1e293b;
}

#main-header h1 {
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 4px;
    color: #f8fafc;
    text-transform: uppercase;
}

#main-container {
    display: flex;
    width: 100%;
    flex: 1; 
    align-items: center;
    min-height: 0;
}

#periodic-table {
    width: 25%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 10px;
}

.element-box {
    aspect-ratio: 1;
    border: 1px solid #1e293b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    background: rgba(255,255,255,0.02);
}

.element-box.active {
    background-color: #38bdf8;
    color: #0f172a;
    box-shadow: 0 0 15px #38bdf8;
    transform: scale(1.05);
}

#builder-zone {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#atomCanvas {
    max-height: 65vh;
    max-width: 100%;
    height: auto;
}

#controls {
    margin-top: 10px;
}

#controls button {
    padding: 8px 12px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 0.8rem;
}

#info-zone { 
    width: 25%; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

#atom-name-title { margin: 0; font-size: 1.5rem; color: #38bdf8; }

#notation-container { 
    font-family: 'Times New Roman', serif; 
    font-size: 4rem; 
    display: flex; 
    align-items: center; 
    height: auto;
}

.indices { 
    display: flex; flex-direction: column; font-size: 1.5rem; 
    text-align: right; margin-right: 10px; line-height: 1;
    color: #94a3b8;
}

.charge-exposant { 
    font-size: 1.8rem; align-self: flex-start; 
    margin-left: 5px; color: #fbbf24; font-weight: bold;
    min-width: 30px;
}

#gauge-canvas {
    max-height: max-content;
    width: auto;
}